<div class="input-group col-lg-12 " style="float: right; padding-bottom: 10px;"> 
    <div class="form-outline">
        <input type="search" (ngModelChange)="searchPoste(key.value)" #key="ngModel" ngModel
        name="Rechercher" id="searchName" class="form-control mr-sm-2" placeholder="Rechercher poste..." required>
      
    </div>
    <button type="button" class="btn btn-primary">
    Rechercher 
    </button>
  </div>
  
<div class="main-content " id="main-container">
<div class="container-fluid">
<div class="row">
<div class="col-md-12">


<div class="card">
<div class="card-header card-header-danger"  style="background-color: #e3f2fd;">

<button type="button" class="btn btn-primary" style="float: right; margin: 20px;"  (click)="onOpenModal(null, 'add')">ajouter poste</button>
  <h4 class="card-title ">les poste</h4>  


  <p class="card-category"> la liste de poste </p>


</div>

<div class="card-body">
  <div class="table-responsive">
      <table class="table">
          <thead class=" text-primary">
              
              <th>
                  Nom de poste
              </th>
              <th>
                Code poste
            </th>
            <th>
                Le nombre maximum de participants                                 
             </th>
          
              <th>
                  Action
              </th>
          </thead>
          <tbody>
              <tr *ngFor= "let poste of poste">
                 
                  <td>
                   {{ poste.nomPoste}}
                  </td>
                  <td>
                    {{ poste.codePoste}}
                   </td>
                   <td>
                    {{ poste.nbmaxparticipants}}
                   </td>
                  
                  <td  class="float-right btn-group btn-group-sm" >
                    
                        <a (click)="onOpenModal(poste, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModal(poste, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                  
                  </td>
              </tr>
            
          </tbody>
      </table>
  </div>
</div>
</div>
</div>
</div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deletePosteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="deleteModelLabel">Supprimer poste</h5>
<button type="button" class="close"  data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<p>Voullez les vous supprimer ce  {{deletePoste?.nomPoste}}</p>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
<button (click)="onDeletePoste(deletePoste?.idPoste)" class="btn btn-danger" data-dismiss="modal">oui</button>
</div>
</div>
</div>
</div>
</div>
</div>

<!-- Add Employee Modal -->
<div class="modal fade" id="addPosteModal" tabindex="-1" role="dialog" aria-labelledby="addPosteModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="addPosteModalLabel"> ajouter poste</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<form #addForm="ngForm" (ngSubmit)="onAddPoste(addForm)">
<div class="form-group">
<label for="name">Nom Poste</label>
<input type="text" ngModel name="nomPoste" class="form-control" id="nomPoste" placeholder="Nom Poste" required>
</div>
<div class="form-group">
<label for="Code">Code poste</label>
<input type="text" ngModel name="codePoste" class="form-control" id="codePoste" placeholder="codePoste" required>
</div>
<div class="form-group">
<label for="phone">Le nombre maximum de participants </label>
<input type="text" ngModel name="nbmaxparticipants" class="form-control" id="nbmaxparticipants" placeholder="Le nombre maximum de participants" required>
</div>


<div class="modal-footer">
<button type="button" id="add-poste-form" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
<button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >ajouter le poste</button>
</div>
</form>
</div>
</div>
</div>
</div>



<!-- Edit Modal -->
<div class="modal fade" id="updateConcoursModal" tabindex="-1" role="dialog" aria-labelledby="updateConcoursModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="updateConcoursModalLabel">Modifier  {{updateConcours?.nameConcours}}</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<form #editForm="ngForm">
<div class="form-group">
<label for="name">Nom Concours</label>
<input type="text" ngModel="{{updateConcours?.nameConcours}}" name="nameConcours" class="form-control" id="nameConcours" aria-describedby="emailHelp" placeholder="Non concours">
</div>

<input type="hidden" ngModel="{{updateConcours?.idConcours}}" name="idConcours" class="form-control" id="idConcours" placeholder="Email">





<div class="form-group">
<label for="odeConcours">Code Concours</label>
<input type="text" ngModel="{{updateConcours?.codeConcours}}" name="codeConcours" class="form-control" id="codeConcours" placeholder="codeConcours">
</div>
<div class="form-group">
<label for="phone">description Concours</label>
<input type="text" ngModel="{{updateConcours?.descriptionConcours}}" name="descriptionConcours" class="form-control" id="descriptionConcours" placeholder="descriptionConcours">
</div>
<div class="form-group">
<label for="debut">Date Debut</label>
<input type="date" ngModel="{{updateConcours?.dateDebut}}" name="dateDebut" class="form-control" id="dateDebut" name="dateDebut" placeholder="dateDebut">
</div>
<div class="form-group">
<label for="Fin">Date Fin</label>
<input type="date" ngModel="{{updateConcours?.datefin}}" name="datefin" class="form-control" id="datefin" placeholder="datefin">
</div>
<div class="modal-footer">
<button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Fermer</button>
<button (click)="onUpdateConcours(editForm.value)" data-dismiss="modal" class="btn btn-primary" >enregister le changement</button>
</div>
</form>
</div>
</div>
</div>
</div>



<!-- Notification for no employees -->
<div *ngIf="poste?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
<div class="alert alert-info" role="alert">
<h4 class="alert-heading">pas de poste!</h4>
<p>pas de poste enregister.</p>
</div>
</div>


