  
                          <div class="input-group col-lg-12 " style="float: right; padding-bottom: 10px;"> 
                            <div class="form-outline">
                              <input type="search" id="form1" class="form-control" />
                              
                            </div>
                            <button type="button" class="btn btn-primary">
                             search 
                            </button>
                          </div>
    <div class="main-content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">


                  <div class="card">
                      <div class="card-header card-header-danger"  style="background-color: #e3f2fd;">
                        
                        <button type="button" class="btn btn-primary" style="float: right; margin: 20px;">ajouter concours</button>
                          <h4 class="card-title ">les concours</h4>  
                        

                          <p class="card-category"> la liste de concours </p>
                        

                      </div>
                    
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table">
                                  <thead class=" text-primary">
                                      
                                      <th>
                                          Nom de concours
                                      </th>
                                      <th>
                                          Date debut
                                      </th>
                                      <th>
                                          Date  Fin
                                      </th>
                                      <th>
                                          Action
                                      </th>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor= "let concours of concours">
                                         
                                          <td>
                                           {{ concours.nameConcours}}
                                          </td>
                                          <td>
                                            {{ concours.dateDebut}}
                                          </td>
                                          <td>
                                            {{ concours.datefin}}
                                          </td>
                                          <td  class="float-right btn-group btn-group-sm">
                                           
                                                <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                                                <a (click)="onOpenModal(concours, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                                             
                                          </td>
                                      </tr>
                                    
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
         