  
                          <div class="input-group col-lg-12 " style="float: right; padding-bottom: 10px;"> 
                            <div class="form-outline">
                              <input type="search" id="form1" class="form-control" />
                              
                            </div>
                            <button type="button" class="btn btn-primary">
                             search 
                            </button>
                          </div>
    <div class="main-content " id="main-container">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">


                  <div class="card">
                      <div class="card-header card-header-danger"  style="background-color: #e3f2fd;">
                        
                        <button type="button" class="btn btn-primary" style="float: right; margin: 20px;"  (click)="onOpenModal(null, 'add')">ajouter concours</button>
                          <h4 class="card-title ">les concours</h4>  
                        

                          <p class="card-category"> la liste de concours </p>
                        

                      </div>
                    
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table">
                                  <thead class=" text-primary">
                                      
                                      <th>
                                          Nom de concours
                                      </th>
                                      <th>
                                        Libelle Concours
                                    </th>
                                    <th>
                                        description Concours                                   
                                     </th>
                                      <th>
                                          Date debut
                                      </th>
                                      <th>
                                          Date  Fin
                                      </th>
                                      <th>
                                          Action
                                      </th>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor= "let concours of concours">
                                         
                                          <td>
                                           {{ concours.nameConcours}}
                                          </td>
                                          <td>
                                            {{ concours.libelleConcours}}
                                           </td>
                                           <td>
                                            {{ concours.descriptionConcours}}
                                           </td>
                                          <td>
                                            {{ concours.dateDebut}}
                                          </td>
                                          <td>
                                            {{ concours.datefin}}
                                          </td>
                                          <td  class="float-right btn-group btn-group-sm" >
                                            
                                                <a (click)="onOpenModal(concours, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                                                <a (click)="onOpenModal(Concours, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                                          
                                          </td>
                                      </tr>
                                    
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
           </div>
 
    <!-- Delete Modal -->
          <div class="modal fade" id="deleteConcoursModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
           <div class="modal-dialog" role="document">
              <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title" id="deleteModelLabel">Delete concours</h5>
                    <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                 </div>
                 <div class="modal-body">
                    <p>Are you sure you want to delete concours {{deleteConcours?.nameConcours}}?</p>
                    <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                       <button (click)="onDeleteConcours(deleteConcours?.idConcours)" class="btn btn-danger" data-dismiss="modal">Yes</button>
                    </div>
                 </div>
              </div>
           </div>
         </div>
         </div>
        
         <!-- Add Employee Modal -->
  <div class="modal fade" id="addConcoursModal" tabindex="-1" role="dialog" aria-labelledby="addConcoursModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addConcoursModalLabel"> ajouter concours</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddConcours(addForm)">
            <div class="form-group">
               <label for="name">Nom Concours</label>
               <input type="text" ngModel name="nameConcours" class="form-control" id="nameConcours" placeholder="Nom Concours" required>
            </div>
            <div class="form-group">
               <label for="libelle">Libelle Concours</label>
               <input type="text" ngModel name="libelleConcours" class="form-control" id="libelleConcours" placeholder="libelle Concours" required>
            </div>
            <div class="form-group">
               <label for="phone">Description Concours</label>
               <input type="text" ngModel name="descriptionConcours" class="form-control" id="descriptionConcours" placeholder="description Concours" required>
            </div>
            <div class="form-group">
               <label for="phone">Date Debut</label>
               <input type="date" ngModel name="dateDebut" class="form-control" id="dateDebut" placeholder="date Debut" required>
            </div>
            <div class="form-group">
               <label for="phone">Date Fin</label>
               <input type="date" ngModel name="datefin" class="form-control" id="datefin" placeholder="Date Fin" required>
            </div>
           >
            <div class="modal-footer">
               <button type="button" id="add-concours-form" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >ajouter le concours</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>
        